@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Roboto:900, 400');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    line-height: 1.8;
    font-family: 'Roboto', sans-serif;
}


header {
    background-color: #33313b;
}

header ul {
    position: relative;
    background-color: #33313b;
    list-style: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

nav {
    width: 90%;
    margin: 0 auto;
}

#logo {
    position: absolute;
    top: 50%;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    font-size: 1.3em;
    transform: translateY(-50%);
}

#logo:hover {
    background-color: #33313b;
    color: #f9f9f9;
}

header nav ul li:first-child {
    float: left;
}

header ul li {
    float: right;
}

header ul li a {
    font-family: 'Raleway', sans-serif;
    display: block;
    text-decoration: none;
    color: #f9f9f9;
    padding: 15px 20px;
}

header ul li a:hover {
    background-color: #504f57;
    color: #fdc57b;
}

main {
    /* overflow: auto; */
}


/* index page styling */

#testimonial {
    text-align: center;
    height: 92.62vh;
    padding-top: 180px;
    background-image: url(/pics/showcase.jpg);
    background-size: cover;
}

#testimonial h2 span {
    color: #fdc57b;
}

#testimonial h2 {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    color: #f9f9f9;
    font-size: 4em;
    font-weight: 900;
    text-shadow: 2px 2px 4px #000000;
}

#testimonial p {
    color: #f9f9f9;
    font-size: 1.2em;
}

#testimonial button {
    padding: 15px 32px;
    background-color: #33313b;
    border: none;
    color: #f9f9f9;
    cursor: pointer;
    font-weight: 700;
}

#testimonial button:hover {
    padding: 15px 32px;
    background-color: #fdc57b;
    border: none;
    color: #000000;
}

#hotel-history {
    overflow: auto;
    background-color: #1d1919;
}

#hotel-history::after {
    content: "";
    clear: both;
    display: table;
}

#hotel-history img {
    width: 50%;
    float: left;
}

#hotel-history article {
    display: inline-block;
    width: 50%;
    text-align: center;
}

#hotel-history article h3 {
    margin-top: 40px;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 2em;
    color: #f9f9f9;
}

#hotel-history article h3 span {
    color: #fdc57b;
}

#hotel-history article p {
    color: #f9f9f9;
    padding: 0 32px;
}

#hotel-history article button {
    margin-top: 20px;
    padding: 15px 32px;
    background-color: #f9f9f9;
    border: none;
    color: #000000;
    cursor: pointer;
    font-weight: 700;
}

.services {
    overflow: auto;
}

.services article {
    width: 33.333%;
    float: left;
    text-align: center;
    padding: 50px 0;
}

.services article i {
    font-size: 2.5em;
}

.services article h3 {
    margin: 0;
}

.context {
    width: 70%;
    margin: 40px auto 0 auto;
}

.services article:nth-of-type(even) {
    background-color: #fdc57b;
}

/* about page styling */


.about-hbt-container {
    background-color: #f6f5f5;
    overflow: auto;
}

.about-hbt {
    margin: 40px 80px;
}

.about-hbt h2 {
    font-size: 2.5em;
    margin-top: 0;
    width: 40%;
}

#about-p {
    width: 40%;
}

.about-hbt p {
    float: left;
    margin-top: 0;
    margin-bottom: 0;
}

.about-hbt img {
    width: 40%;
    border-radius: 50%;
    float: right;
    margin-right: 80px;
}

.about-hbt H2 span {
    color: #fdc57b;
}

.about-hbt::after {
    content: "";
    clear: both;
    display: table;
}


.about-testimonials-container {
    background: url(/pics/test-bg.jpg);
    background-size: cover;
    background-position: center;
    overflow: auto;
    text-align: center;
}

.about-testimonials {
    margin: 80px 120px 40px 120px;
}

.about-testimonials h2 {
    color: #f9f9f9;
    margin-top: 0;
    font-size: 3em;
}
.testimonial {
    background-color: #fdc57b;
    margin-bottom: 50px;
}
.testimonial::after {
    content: "";
    clear: both;
    display: table;
}
.testimonial p {
    width: 80%;
    text-align: start;
    margin-top: 30px;
    display: inline-block;
}
.testimonial img {
    width: 7%;
    display: block;
    border-radius: 50%;
    margin: 20px 40px;
    float: left;
}

/* contact us styling */

.contact-hbt-container {
    overflow: auto;
    background-color:  #f9f9f9;
}

.contact-hbt {
    margin: 40px 80px;
}
.contact-hbt h2 {
    font-size: 2.5em;
    margin: 0;
}
.contact-hbt h2 span {
    color: #fdc57b;
}
.contact-hbt form input {
    width: 100%;
}
input[type="text"], input[type="email"] {
    padding: 10px 0px;
    margin-bottom: 40px;
}
.contact-hbt form label {
    display: block;
}

.contact-hbt form textarea {
    width: 100%;
}
.contact-hbt form button {
    padding: 15px 30px;
    display: inline-block;
    background-color: #33313b;
    color: #f9f9f9;
    border: none;
    margin-top: 20px;
}

.contact-hbt-info {
    background-color: #1d1919;
    overflow: auto;
}

.contact-hbt-info article {
    color: #f9f9f9;
    width: 33.333%;
    float: left;
    text-align: center;
    padding: 50px 0;
}

.contact-hbt-info article i {
    font-size: 2.5em;
}

.contact-hbt-info article h3 {
    margin: 0;
}

.contact-context {
    margin: 40px auto 0 auto;
}

/* footer styling */

footer {
    background-color: #33313b;
    text-align: center;
    padding: 50px;
}

footer p {
    width: 100%;
    margin: 0;
    color: #f9f9f9;
}